dist: trusty
sudo: required

addons:
  sonarcloud:
    organization: "sonarsource-jfrog"
    token:
      secure: "MQY4SxDL0ej3dN9xa7NFIkXjs2mXd76lW9YuabJrMjgG1AzAhcqHhIksVctiuSJvykIEIPg5CMYPUKLbXcp7XQlXt6jtTASSELz0s+jp9DY1CRR9BwiJF5aEJfNOW9FLLN/8pQCFwzEAgK2l5Y/4qW+y0AWs9PCtecSGR53q/iv1Pap07ZlVv7ncP6NHzV2jcgqevwAme2vqaKyFwK0SklJ98xS+GEipYIeDvzXhNL4Bix9FcuXkj7CvDOsDcRMvx+GnAOsQRzzr7s0XT0eqNMKdGGyjF0i18jIUItQ+7Wr4LVmLX7ORlNrb+gnJ3L02YPNufyot+Pft6iGs/7pNXc4Yqnn62ceiVoVAkdUQ+Nd2fSxCYFQYR/eL0Xiro4tC7JeMaVs/SbhZ3vU2lUas1D04N/AhUjaRZZz7hBOwFHZryq51gTbOYzOHhuFcyjcgWsatm1q3yhmCkTESL5o8iUosIstFAhsJdCPsqg1ypsMf/3CQvwjGfRQYWkh40fTQVOspkfjJNervaUrmApJIt6nhYhlU7EDdQaZlAW3us0Ma8TOvlyRXpn3HGKRH7Mbi/EIyZ928y+274gdL6ItOMz+1Y0vF3wo2a60uzanDCno8URXCyYB82wLCH5JP02UHV+XhGhkLR5NnXD8dCVpoF0syNiGvMx0EC61VewSHA+8="

jdk:
  - oraclejdk8

script:
  - echo $SONAR_SCANNER_PARAMS
  - sonar-scanner

cache:
  directories:
    - '$HOME/.sonar/cache'

# Don't copy the following part if your usnig this project as a starting point of yours
notifications:
  email: false
  webhooks:
    - secure: "flBSNz9qtLM8L9tAbMukPtzONeJaCVmo0Xmg3f2vJbovp8le/7Ips63Q2AxXPWYI9c+S+3eQFTKG/ry1N+VbgTEXJa/QS0f/yZDTE58sgHKRF2oUCV4U+xLVCmW59zdvK4yoVDpDSmomTW9g5RDaPqH6zj/pcK3jemUZgkIquT69huljTuTh52wtocXyDfSIhWRsYW5qcwqKqdAp92EROCVHCG731fqT/xlIoUhw9U9+7jewhUXUUUH3TsNv3HDLA8JilkCRLgw7udMBl/fEjZx77WLePiiOn0DsFY69agm1iwWF+elU9zly6VCSr81EmaailM6zmzusnkqjGca3mzXwSzmr2Ta35551BiG1lOmxsP65AxVzXeKbhUUFxoNV2I2fv6oy5mnMDCN+MV+Qu/YYw3B57c/e+BkGTh4lu1AY6zB9pN/FrbX0vIQ+re4rAC1M/ynxX6NsmsNVtjYY9VVQTqFrPoubZxki5YltS7n65zrmGW55ZOCLt09d7HU3AJBu+JBkwCoIC1Ctx/gif8Yp0aaSgA3Y/hH5ILEpl3pTYzy3QZS3FhI0+swbrHVPqYlDWooNfoZ3IimfP/TSItV2rJcCOnNoVgQTqCUXtZO0Yxwtoh/YieYLPBP1b3bbowC0yNk9d6VkuxLmquU/bhbRgc30Rc0KtoxkFtrsrw0="
  on_start: always
